 <!-- Modal -->
 <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
 aria-hidden="true">
 <div class="modal-dialog" role="document">
   <div class="modal-content">
     <div class="modal-body">

       <div class="row">
         <div class="col">
           <div class="card shadow">
             <div class="card-header">
               <div class="row justify-content-around">
                 <h4 class="h6 m-0 font-weight-bold text-primary">Registrar categoría</h4>
                 <button type="button" class="close ml-auto" data-dismiss="modal" aria-label="Close">
                   <span aria-hidden="true">&times;</span>
                 </button>
               </div>
             </div>
             <form class="user">
               <div class="card-body">
                 <div class="form-group row">
                   <input type="text" class="form-control form-control-user" placeholder="Nombre categoría" />
                 </div>
                 <div class="fom-group">
                   <button type="button" class="btn btn-outline-primary btn-block btn-user">Registrar</button>
                 </div>
               </div>
             </form>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>
</div>
