

<div class="container mt-3">
  <div class="card">

    <div class="row no-gutters">

      <div class="col-md-5">
        <img [src]="product.photo | image" class="card-img img500" alt="">
      </div>

      <div class="col-md-7">
        <div class="card-body h-100 d-flex flex-column justify-content-between">

          <div class="col mt-2">
            <h5 class="card-title font-title" >{{ product.title }}</h5>
            <h4 class="card-subtitle ">Monetiza instagran en 60 dias</h4>
          </div>
          <br>

          <div class="col">
            <h4 class="card-title font-title">Descripcion</h4>
            <p> {{ product.description }} </p>
          </div>

          <button class="btn btn-outline-primary btn-block">Más información</button>
        </div>

      </div>
    </div>
  </div>
</div>


